@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Be+Vietnam+Pro:wght@300&family=Berkshire+Swash&family=El+Messiri&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.info{
    width: 60%;
    margin: 5% 20%;
    padding: 7% 0;
}
p{
    text-align: center;
    font-family: 'Berkshire Swash';
font-style: normal;
font-weight: 300;
font-size: 100px;
line-height: 100%;
color: #2F8F9D;
}
h2{
    text-align: center;
    font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 100%;
}
.info button{
    text-decoration: none;
    color: white;
    border: none;
    background-color: #2F8F9D;
    width: 20%;
    margin-left: 40%;
}