@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Be+Vietnam+Pro:wght@300&family=Berkshire+Swash&family=El+Messiri&display=swap');
*{
    padding: 0%;
    margin: 0;
}
.logo h2 a{
    text-decoration: none;
    color: black;  
}
nav li a{
    text-decoration: none;
    color: black;
}
body{
    background-color: #EFEEEE;
}
header{
    width: 70%;
    margin: 2% 15%;
    margin-bottom: 2.5%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 55%;
}
header nav li{
    list-style-type: none;
    color:black;
    font-family: 'El Messiri';
    background-color: none;
    font-size: 18px;
    margin-top: 3.5%;
    font-weight: 600;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 25px;
    font-family: 'El Messiri' ;
    font-weight: 300;
    margin-top: 8%;
    color: #333333;
    font-weight: 600;
}
span hr{
    width: 73%;
    margin: 0 13.5%;
}
main{
    width: 74%;
    margin: 0 13% ;
}
main h1{
    text-align: left;
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 100%;
    color: black;
    margin-top: 3%;
    margin-bottom: 3%;
}
.photos ul,
.photos li{
    padding:0;
    margin: 1% 1% 1% 1%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.photos li{
    width: 50%;
    position: relative;
    overflow: hidden;
    }
.photos img{
    display: block;
    max-width: 100%;
    box-sizing: border-box;
}
h2{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 100%;
    margin-top: 3%;
    color: black;
}
p{
    text-align: left;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 100%;
    color:black ;
    margin-bottom: 3%;
    font-weight: 500;
}
iframe{
    margin-left: 19%;
    margin-bottom: 3%;
}